.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.910645;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.910156;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.693359;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.774902;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc1{color:rgb(0,0,0);}
.fc0{color:rgb(255,0,0);}
.fs2{font-size:24.120000px;}
.fs1{font-size:36.000000px;}
.fs0{font-size:56.160000px;}
.y60{bottom:-3.083400px;}
.ya{bottom:4.286000px;}
.y7{bottom:4.286100px;}
.y5f{bottom:8.867000px;}
.yb7{bottom:9.065900px;}
.yb2{bottom:9.066000px;}
.y25{bottom:9.066200px;}
.y22{bottom:9.066300px;}
.y44{bottom:9.066400px;}
.y70{bottom:9.066500px;}
.y2{bottom:10.604600px;}
.y75{bottom:12.651400px;}
.y1e{bottom:12.994700px;}
.y9{bottom:16.236400px;}
.y4{bottom:16.236500px;}
.y6{bottom:16.236600px;}
.y39{bottom:20.413700px;}
.y5e{bottom:20.817500px;}
.yb4{bottom:21.016100px;}
.yb0{bottom:21.016200px;}
.yb6{bottom:21.016300px;}
.yb1{bottom:21.016400px;}
.y24{bottom:21.016600px;}
.y20{bottom:21.016700px;}
.y2a{bottom:21.016800px;}
.y6a{bottom:21.016900px;}
.y74{bottom:24.601800px;}
.y9b{bottom:24.634900px;}
.y5c{bottom:31.772200px;}
.y5d{bottom:32.768000px;}
.y4f{bottom:32.967100px;}
.y4e{bottom:32.967200px;}
.y88{bottom:32.967300px;}
.y73{bottom:36.552300px;}
.y1c{bottom:53.500000px;}
.yd0{bottom:54.248600px;}
.y0{bottom:81.000000px;}
.y1b{bottom:81.735900px;}
.ycf{bottom:86.514700px;}
.y1a{bottom:109.222000px;}
.yce{bottom:118.780800px;}
.y19{bottom:136.708100px;}
.ycd{bottom:151.046900px;}
.y18{bottom:164.194100px;}
.ycc{bottom:183.313000px;}
.y17{bottom:191.680200px;}
.ycb{bottom:215.579100px;}
.y16{bottom:219.166300px;}
.y15{bottom:246.652400px;}
.yca{bottom:247.845200px;}
.y14{bottom:274.138500px;}
.yc9{bottom:280.111400px;}
.yc8{bottom:312.377500px;}
.y13{bottom:329.110600px;}
.yc7{bottom:344.643600px;}
.yc6{bottom:376.909700px;}
.yc5{bottom:409.175800px;}
.y12{bottom:411.568900px;}
.y11{bottom:439.055000px;}
.yc4{bottom:441.441900px;}
.y10{bottom:466.541100px;}
.yc3{bottom:473.708000px;}
.yf{bottom:494.027100px;}
.yc2{bottom:505.974100px;}
.ye{bottom:521.513200px;}
.yc1{bottom:538.240300px;}
.yd{bottom:548.999300px;}
.yc0{bottom:570.506400px;}
.yc{bottom:576.485300px;}
.ybf{bottom:602.772500px;}
.yb{bottom:603.971400px;}
.y8{bottom:631.457500px;}
.ybe{bottom:635.038600px;}
.y5{bottom:658.943500px;}
.ybd{bottom:667.304700px;}
.y3{bottom:686.429600px;}
.ybc{bottom:699.570800px;}
.ybb{bottom:731.836900px;}
.y1{bottom:741.401700px;}
.yba{bottom:764.103100px;}
.yb9{bottom:796.369200px;}
.yb8{bottom:828.635300px;}
.yb5{bottom:860.901400px;}
.yb3{bottom:893.167500px;}
.yaf{bottom:925.433600px;}
.yae{bottom:957.699700px;}
.yad{bottom:989.966100px;}
.yac{bottom:1022.232400px;}
.yab{bottom:1054.498800px;}
.yaa{bottom:1086.765200px;}
.ya9{bottom:1119.031500px;}
.ya8{bottom:1151.297900px;}
.ya7{bottom:1183.564200px;}
.ya6{bottom:1215.830600px;}
.ya5{bottom:1248.096900px;}
.ya4{bottom:1280.363300px;}
.ya3{bottom:1312.629700px;}
.ya2{bottom:1344.896000px;}
.ya1{bottom:1377.162400px;}
.ya0{bottom:1409.428700px;}
.y9f{bottom:1441.695100px;}
.y9e{bottom:1473.961400px;}
.y9d{bottom:1506.227800px;}
.y9c{bottom:1538.494200px;}
.y9a{bottom:1570.760500px;}
.y99{bottom:1603.026900px;}
.y98{bottom:1635.293200px;}
.y97{bottom:1667.559600px;}
.y96{bottom:1699.826000px;}
.y95{bottom:1732.092300px;}
.y94{bottom:1764.358700px;}
.y93{bottom:1796.625000px;}
.y92{bottom:1828.891400px;}
.y91{bottom:1861.157700px;}
.y90{bottom:1893.424100px;}
.y8f{bottom:1925.690500px;}
.y8e{bottom:1957.956800px;}
.y8d{bottom:1990.223200px;}
.y8c{bottom:2022.489500px;}
.y8b{bottom:2054.755900px;}
.y8a{bottom:2087.022200px;}
.y89{bottom:2119.288600px;}
.y87{bottom:2151.555000px;}
.y86{bottom:2195.771800px;}
.y85{bottom:2228.038100px;}
.y84{bottom:2260.304500px;}
.y83{bottom:2292.570800px;}
.y82{bottom:2324.837200px;}
.y81{bottom:2357.103500px;}
.y80{bottom:2389.369900px;}
.y7f{bottom:2421.636300px;}
.y7e{bottom:2453.902600px;}
.y7d{bottom:2486.169000px;}
.y7c{bottom:2518.435300px;}
.y7b{bottom:2550.701700px;}
.y7a{bottom:2582.968000px;}
.y79{bottom:2615.234400px;}
.y78{bottom:2647.500800px;}
.y77{bottom:2679.767100px;}
.y76{bottom:2712.033500px;}
.y72{bottom:2744.299800px;}
.y71{bottom:2792.101600px;}
.y6f{bottom:2824.367900px;}
.y6e{bottom:2856.634300px;}
.y6d{bottom:2888.900700px;}
.y6c{bottom:2921.167000px;}
.y6b{bottom:2953.433400px;}
.y69{bottom:2985.699700px;}
.y68{bottom:3017.966100px;}
.y67{bottom:3050.232300px;}
.y66{bottom:3082.498600px;}
.y65{bottom:3114.764800px;}
.y64{bottom:3147.031000px;}
.y63{bottom:3179.297300px;}
.y62{bottom:3211.563500px;}
.y61{bottom:3243.829700px;}
.y5b{bottom:3276.096000px;}
.y5a{bottom:3319.117700px;}
.y59{bottom:3351.383900px;}
.y58{bottom:3383.650200px;}
.y57{bottom:3415.916400px;}
.y56{bottom:3448.182600px;}
.y55{bottom:3480.448900px;}
.y54{bottom:3512.715100px;}
.y53{bottom:3544.981300px;}
.y52{bottom:3577.247600px;}
.y51{bottom:3609.513800px;}
.y50{bottom:3641.780100px;}
.y4d{bottom:3674.046300px;}
.y4c{bottom:3718.263000px;}
.y4b{bottom:3750.529200px;}
.y4a{bottom:3782.795400px;}
.y49{bottom:3815.061700px;}
.y48{bottom:3847.327900px;}
.y47{bottom:3879.594100px;}
.y46{bottom:3911.860400px;}
.y45{bottom:3944.126600px;}
.y43{bottom:3976.392800px;}
.y42{bottom:4008.659100px;}
.y41{bottom:4040.925300px;}
.y40{bottom:4073.191600px;}
.y3f{bottom:4105.457800px;}
.y3e{bottom:4137.724100px;}
.y3d{bottom:4169.990300px;}
.y3c{bottom:4202.256600px;}
.y3b{bottom:4234.522800px;}
.y3a{bottom:4266.789000px;}
.y38{bottom:4299.055300px;}
.y37{bottom:4331.321500px;}
.y36{bottom:4363.587700px;}
.y35{bottom:4395.854000px;}
.y34{bottom:4428.120200px;}
.y33{bottom:4460.386400px;}
.y32{bottom:4492.652700px;}
.y31{bottom:4524.918900px;}
.y30{bottom:4557.185100px;}
.y2f{bottom:4589.451400px;}
.y2e{bottom:4621.717700px;}
.y2d{bottom:4653.983900px;}
.y2c{bottom:4686.250200px;}
.y2b{bottom:4718.516500px;}
.y29{bottom:4750.782700px;}
.y28{bottom:4783.049000px;}
.y27{bottom:4815.315300px;}
.y26{bottom:4847.581500px;}
.y23{bottom:4879.847800px;}
.y21{bottom:4912.114000px;}
.y1f{bottom:4944.380300px;}
.y1d{bottom:5008.912800px;}
.he{height:16.759160px;}
.h6{height:24.398438px;}
.h4{height:25.013672px;}
.h5{height:26.986000px;}
.h2{height:26.986100px;}
.h7{height:27.351562px;}
.ha{height:29.376100px;}
.h14{height:31.766100px;}
.hc{height:31.766200px;}
.hd{height:31.766300px;}
.h11{height:31.766400px;}
.hb{height:38.061563px;}
.h3{height:39.021328px;}
.h10{height:42.521700px;}
.hf{height:43.716700px;}
.h13{height:43.716800px;}
.h12{height:47.301800px;}
.h1{height:633.000000px;}
.h0{height:822.637800px;}
.h9{height:4923.500000px;}
.h8{height:5124.805200px;}
.w3{width:31.460700px;}
.w4{width:69.308900px;}
.w9{width:362.842900px;}
.w5{width:364.525100px;}
.w8{width:464.612500px;}
.w7{width:466.000000px;}
.w2{width:466.294600px;}
.w1{width:467.500000px;}
.w6{width:565.912500px;}
.w0{width:567.594700px;}
.x2{left:1.871400px;}
.x7{left:3.985800px;}
.x9{left:5.488800px;}
.x8{left:17.740700px;}
.x1{left:23.743600px;}
.x0{left:50.000000px;}
.x3{left:82.610700px;}
.x5{left:93.148400px;}
.xb{left:110.838300px;}
.xc{left:113.853300px;}
.x6{left:144.397100px;}
.x4{left:152.419600px;}
.xd{left:172.858300px;}
.xe{left:175.873300px;}
.xa{left:189.415000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs2{font-size:32.160000pt;}
.fs1{font-size:48.000000pt;}
.fs0{font-size:74.880000pt;}
.y60{bottom:-4.111200pt;}
.ya{bottom:5.714667pt;}
.y7{bottom:5.714800pt;}
.y5f{bottom:11.822667pt;}
.yb7{bottom:12.087867pt;}
.yb2{bottom:12.088000pt;}
.y25{bottom:12.088267pt;}
.y22{bottom:12.088400pt;}
.y44{bottom:12.088533pt;}
.y70{bottom:12.088667pt;}
.y2{bottom:14.139467pt;}
.y75{bottom:16.868533pt;}
.y1e{bottom:17.326267pt;}
.y9{bottom:21.648533pt;}
.y4{bottom:21.648667pt;}
.y6{bottom:21.648800pt;}
.y39{bottom:27.218267pt;}
.y5e{bottom:27.756667pt;}
.yb4{bottom:28.021467pt;}
.yb0{bottom:28.021600pt;}
.yb6{bottom:28.021733pt;}
.yb1{bottom:28.021867pt;}
.y24{bottom:28.022133pt;}
.y20{bottom:28.022267pt;}
.y2a{bottom:28.022400pt;}
.y6a{bottom:28.022533pt;}
.y74{bottom:32.802400pt;}
.y9b{bottom:32.846533pt;}
.y5c{bottom:42.362933pt;}
.y5d{bottom:43.690667pt;}
.y4f{bottom:43.956133pt;}
.y4e{bottom:43.956267pt;}
.y88{bottom:43.956400pt;}
.y73{bottom:48.736400pt;}
.y1c{bottom:71.333333pt;}
.yd0{bottom:72.331467pt;}
.y0{bottom:108.000000pt;}
.y1b{bottom:108.981200pt;}
.ycf{bottom:115.352933pt;}
.y1a{bottom:145.629333pt;}
.yce{bottom:158.374400pt;}
.y19{bottom:182.277467pt;}
.ycd{bottom:201.395867pt;}
.y18{bottom:218.925467pt;}
.ycc{bottom:244.417333pt;}
.y17{bottom:255.573600pt;}
.ycb{bottom:287.438800pt;}
.y16{bottom:292.221733pt;}
.y15{bottom:328.869867pt;}
.yca{bottom:330.460267pt;}
.y14{bottom:365.518000pt;}
.yc9{bottom:373.481867pt;}
.yc8{bottom:416.503333pt;}
.y13{bottom:438.814133pt;}
.yc7{bottom:459.524800pt;}
.yc6{bottom:502.546267pt;}
.yc5{bottom:545.567733pt;}
.y12{bottom:548.758533pt;}
.y11{bottom:585.406667pt;}
.yc4{bottom:588.589200pt;}
.y10{bottom:622.054800pt;}
.yc3{bottom:631.610667pt;}
.yf{bottom:658.702800pt;}
.yc2{bottom:674.632133pt;}
.ye{bottom:695.350933pt;}
.yc1{bottom:717.653733pt;}
.yd{bottom:731.999067pt;}
.yc0{bottom:760.675200pt;}
.yc{bottom:768.647067pt;}
.ybf{bottom:803.696667pt;}
.yb{bottom:805.295200pt;}
.y8{bottom:841.943333pt;}
.ybe{bottom:846.718133pt;}
.y5{bottom:878.591333pt;}
.ybd{bottom:889.739600pt;}
.y3{bottom:915.239467pt;}
.ybc{bottom:932.761067pt;}
.ybb{bottom:975.782533pt;}
.y1{bottom:988.535600pt;}
.yba{bottom:1018.804133pt;}
.yb9{bottom:1061.825600pt;}
.yb8{bottom:1104.847067pt;}
.yb5{bottom:1147.868533pt;}
.yb3{bottom:1190.890000pt;}
.yaf{bottom:1233.911467pt;}
.yae{bottom:1276.932933pt;}
.yad{bottom:1319.954800pt;}
.yac{bottom:1362.976533pt;}
.yab{bottom:1405.998400pt;}
.yaa{bottom:1449.020267pt;}
.ya9{bottom:1492.042000pt;}
.ya8{bottom:1535.063867pt;}
.ya7{bottom:1578.085600pt;}
.ya6{bottom:1621.107467pt;}
.ya5{bottom:1664.129200pt;}
.ya4{bottom:1707.151067pt;}
.ya3{bottom:1750.172933pt;}
.ya2{bottom:1793.194667pt;}
.ya1{bottom:1836.216533pt;}
.ya0{bottom:1879.238267pt;}
.y9f{bottom:1922.260133pt;}
.y9e{bottom:1965.281867pt;}
.y9d{bottom:2008.303733pt;}
.y9c{bottom:2051.325600pt;}
.y9a{bottom:2094.347333pt;}
.y99{bottom:2137.369200pt;}
.y98{bottom:2180.390933pt;}
.y97{bottom:2223.412800pt;}
.y96{bottom:2266.434667pt;}
.y95{bottom:2309.456400pt;}
.y94{bottom:2352.478267pt;}
.y93{bottom:2395.500000pt;}
.y92{bottom:2438.521867pt;}
.y91{bottom:2481.543600pt;}
.y90{bottom:2524.565467pt;}
.y8f{bottom:2567.587333pt;}
.y8e{bottom:2610.609067pt;}
.y8d{bottom:2653.630933pt;}
.y8c{bottom:2696.652667pt;}
.y8b{bottom:2739.674533pt;}
.y8a{bottom:2782.696267pt;}
.y89{bottom:2825.718133pt;}
.y87{bottom:2868.740000pt;}
.y86{bottom:2927.695733pt;}
.y85{bottom:2970.717467pt;}
.y84{bottom:3013.739333pt;}
.y83{bottom:3056.761067pt;}
.y82{bottom:3099.782933pt;}
.y81{bottom:3142.804667pt;}
.y80{bottom:3185.826533pt;}
.y7f{bottom:3228.848400pt;}
.y7e{bottom:3271.870133pt;}
.y7d{bottom:3314.892000pt;}
.y7c{bottom:3357.913733pt;}
.y7b{bottom:3400.935600pt;}
.y7a{bottom:3443.957333pt;}
.y79{bottom:3486.979200pt;}
.y78{bottom:3530.001067pt;}
.y77{bottom:3573.022800pt;}
.y76{bottom:3616.044667pt;}
.y72{bottom:3659.066400pt;}
.y71{bottom:3722.802133pt;}
.y6f{bottom:3765.823867pt;}
.y6e{bottom:3808.845733pt;}
.y6d{bottom:3851.867600pt;}
.y6c{bottom:3894.889333pt;}
.y6b{bottom:3937.911200pt;}
.y69{bottom:3980.932933pt;}
.y68{bottom:4023.954800pt;}
.y67{bottom:4066.976400pt;}
.y66{bottom:4109.998133pt;}
.y65{bottom:4153.019733pt;}
.y64{bottom:4196.041333pt;}
.y63{bottom:4239.063067pt;}
.y62{bottom:4282.084667pt;}
.y61{bottom:4325.106267pt;}
.y5b{bottom:4368.128000pt;}
.y5a{bottom:4425.490267pt;}
.y59{bottom:4468.511867pt;}
.y58{bottom:4511.533600pt;}
.y57{bottom:4554.555200pt;}
.y56{bottom:4597.576800pt;}
.y55{bottom:4640.598533pt;}
.y54{bottom:4683.620133pt;}
.y53{bottom:4726.641733pt;}
.y52{bottom:4769.663467pt;}
.y51{bottom:4812.685067pt;}
.y50{bottom:4855.706800pt;}
.y4d{bottom:4898.728400pt;}
.y4c{bottom:4957.684000pt;}
.y4b{bottom:5000.705600pt;}
.y4a{bottom:5043.727200pt;}
.y49{bottom:5086.748933pt;}
.y48{bottom:5129.770533pt;}
.y47{bottom:5172.792133pt;}
.y46{bottom:5215.813867pt;}
.y45{bottom:5258.835467pt;}
.y43{bottom:5301.857067pt;}
.y42{bottom:5344.878800pt;}
.y41{bottom:5387.900400pt;}
.y40{bottom:5430.922133pt;}
.y3f{bottom:5473.943733pt;}
.y3e{bottom:5516.965467pt;}
.y3d{bottom:5559.987067pt;}
.y3c{bottom:5603.008800pt;}
.y3b{bottom:5646.030400pt;}
.y3a{bottom:5689.052000pt;}
.y38{bottom:5732.073733pt;}
.y37{bottom:5775.095333pt;}
.y36{bottom:5818.116933pt;}
.y35{bottom:5861.138667pt;}
.y34{bottom:5904.160267pt;}
.y33{bottom:5947.181867pt;}
.y32{bottom:5990.203600pt;}
.y31{bottom:6033.225200pt;}
.y30{bottom:6076.246800pt;}
.y2f{bottom:6119.268533pt;}
.y2e{bottom:6162.290267pt;}
.y2d{bottom:6205.311867pt;}
.y2c{bottom:6248.333600pt;}
.y2b{bottom:6291.355333pt;}
.y29{bottom:6334.376933pt;}
.y28{bottom:6377.398667pt;}
.y27{bottom:6420.420400pt;}
.y26{bottom:6463.442000pt;}
.y23{bottom:6506.463733pt;}
.y21{bottom:6549.485333pt;}
.y1f{bottom:6592.507067pt;}
.y1d{bottom:6678.550400pt;}
.he{height:22.345547pt;}
.h6{height:32.531250pt;}
.h4{height:33.351562pt;}
.h5{height:35.981333pt;}
.h2{height:35.981467pt;}
.h7{height:36.468750pt;}
.ha{height:39.168133pt;}
.h14{height:42.354800pt;}
.hc{height:42.354933pt;}
.hd{height:42.355067pt;}
.h11{height:42.355200pt;}
.hb{height:50.748750pt;}
.h3{height:52.028437pt;}
.h10{height:56.695600pt;}
.hf{height:58.288933pt;}
.h13{height:58.289067pt;}
.h12{height:63.069067pt;}
.h1{height:844.000000pt;}
.h0{height:1096.850400pt;}
.h9{height:6564.666667pt;}
.h8{height:6833.073600pt;}
.w3{width:41.947600pt;}
.w4{width:92.411867pt;}
.w9{width:483.790533pt;}
.w5{width:486.033467pt;}
.w8{width:619.483333pt;}
.w7{width:621.333333pt;}
.w2{width:621.726133pt;}
.w1{width:623.333333pt;}
.w6{width:754.550000pt;}
.w0{width:756.792933pt;}
.x2{left:2.495200pt;}
.x7{left:5.314400pt;}
.x9{left:7.318400pt;}
.x8{left:23.654267pt;}
.x1{left:31.658133pt;}
.x0{left:66.666667pt;}
.x3{left:110.147600pt;}
.x5{left:124.197867pt;}
.xb{left:147.784400pt;}
.xc{left:151.804400pt;}
.x6{left:192.529467pt;}
.x4{left:203.226133pt;}
.xd{left:230.477733pt;}
.xe{left:234.497733pt;}
.xa{left:252.553333pt;}
}
